/* style.css */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

h1, h2 {
  font-weight: 700;
}

footer {
  font-size: 0.9rem;
}

.bg-custom {
  background-color: #004d40;
}
.hero-section{
  background-color: #c3e4de;
}
